

$color_light: #e5e5e5;
$color_medium: #e5e5e5;
$color_dark: #333333;
$color_darker: #222;

$color_accent: #a20000;

$font_01: 'Arial', sans-serif;
$font_02: 'Georgia', serif;
$font_03: 'Courier New', monospace;